@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><i>WELCOME AIR</i></h1>

    <img src="~/a.jpg" height="550" width="1100" />
    <br /><br />
          <p>
              Through a management buy out in 2000 Tyrolean Air Ambulance (renamed then Tyrol Air Ambulance), which had closely
              links to the local airline Tyrolean Airways as well as to the helicopter company "Heliair" (formerly "Aircraft Innsbruck"),
              became part of Jakob Ringler's "Welcome Air" after he took over the majority[6] (in 2011 93,27% belonging to Welcome Air).[5]
              On 22 May 2000 Welcome Air started its first flight with Do-328 from Innsbruck to Graz.[7]

              In 2009 Welcome Air was taken over by Lions Air Group (Switzerland) which also taken over the majority of Air Alps. The umbrella
              company Welcome Aviation Group set up to merge the companies Tyrol Air Ambulance, Air Alps and Welcome Air and their head offices
              into one in Innsbruck.[8]

              In July 2011 Welcome Aviation Group announced a restructure and therefore Welcome Air will concentrate its activities on business
              & event charters and will end the year-round Innsbruck - Graz service, but continue the summer operations to Innsbruck/Graz-Olbia
              
              and Innsbruck-Nice for a while. Air Alps, which meanwhile ceased operations, concentrated its activities on the Italian schedule
              operations back then and Tyrol Air Ambulance on its ambulance operations. Meanwhile, Welcome Air ceased all remaining scheduled
              operations and concentrates entirely on offering European charter services.[3]

              In February 2015, Austrian Airlines announced the termination of their wetlease contract with Welcome Air for their
              Vienna - Linz flights from 31 March 2015. Austrian Airlines had started an airport rail link from Linz to Vienna only 
              months before which was well received, resulting in the five daily flights reduction.[9] Welcome Air subsequently announced 
              a reduction in the fleet size.[10]

              On 26 December 2017, Welcome Air operated its last flight, a charter service from Antwerp to Innsbruck, and ceased all
              operations the day after, marking the end of the airline. The last Dornier 328 aircraft was placed up for sale after its
              former sister aircraft had already been moved to new operators.[11][1] Its former subcompany, air rescue and charter service
              Tyrol Air Ambulance, will continue its operations and added another aircraft to compensate for the closure of Welcome Air.
          </p>
</div>
