@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>Are you allowed to take pictures on planes?<br /> Yes and no.</h1>
<img src="~/pri.webp" height="550" width="1100" />
<p>
On a recent American Airlines flight from Santiago, Chile, to Dallas, Natalie Root had a front-row seat for
    an unpleasant confrontation.

The aircraft she boarded happened to be a new Boeing Dreamliner, and her friend, an aviation buff, wanted to snap 
    a few pictures of the plane’s interior as it taxied down the runway. Big mistake.

“A flight attendant saw him because he had his flash on his cellphone camera, and she demanded that he immediately
    delete the picture,” says Root, a retired social studies teacher from Arlington, Va. “She accused him of photographing 
    crew members, which he was not doing. She said it was a federal rule violation. Another attendant threatened to have the 
    captain turn the aircraft around.”

Root’s friend erased the photos and was allowed to fly to Dallas, but the event left him shaken and humiliated, she says.</p>